In [1]:
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
import numpy as np

In [2]:
%matplotlib inline
pd.set_option("display.max_columns",50)
sns.set_context("poster")

In [3]:
train = pd.DataFrame(pd.read_csv('E:\Drivendata\Training.csv'))
test = pd.DataFrame(pd.read_csv('E:\Drivendata\Testing.csv'))
label = pd.read_csv('E:\Drivendata\Label.csv')

In [5]:
_ = train.drop("scheme_name",axis = 1,inplace=True)

In [7]:
train.shape[0]
test.shape[0]

14850

In [8]:
train.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                   3635
gps_height                  0
installer                3655
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                371
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting           3334
recorded_by                 0
scheme_management        3877
permit                   3056
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

In [9]:
test.isnull().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                    869
gps_height                  0
installer                 877
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                 99
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting            821
recorded_by                 0
scheme_management         969
scheme_name              7092
permit                    737
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
dtype: int64

In [10]:
_ = test.drop("scheme_name",axis = 1,inplace=True)

In [11]:
train.shape[1]

39

In [12]:
test.shape[1]

39

In [14]:
column_1 = ["longitude","latitude","population"]

In [15]:
data_1 = train[column_1]

In [16]:
data_1.shape

(59400, 3)

In [20]:
train.shape

(59400, 39)

In [22]:
obj_col = train.ix[:,train.dtypes=="object"].columns

In [23]:
for col in obj_col:
    print(train.ix[:,train.dtypes=="object"][col].value_counts().shape)

(356,)
(1897,)
(2145,)
(37400,)
(9,)
(19287,)
(21,)
(125,)
(2092,)
(2,)
(1,)
(12,)
(2,)
(18,)
(13,)
(7,)
(12,)
(5,)
(7,)
(7,)
(8,)
(6,)
(5,)
(5,)
(10,)
(7,)
(3,)
(7,)
(6,)

In [24]:
train = train.drop(["ward","subvillage","id","installer","wpt_name","date_recorded","region_code","quantity_group","source_type",
                  "extraction_type_group","extraction_type_class","waterpoint_type_group"],axis=1)

In [25]:
train["funder"] = np.where(train["funder"]=="Government Of Tanzania","Government","Not Government")

In [26]:
train["funder"].describe()

count              59400
unique                 2
top       Not Government
freq               50316
Name: funder, dtype: object

In [28]:
train.head()

,amount_tsh,funder,gps_height,longitude,latitude,num_private,basin,region,district_code,lga,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,management,management_group,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type
0,6000.0,Not Government,1390,34.938093,-9.856322,0,Lake Nyasa,Iringa,5,Ludewa,109,True,GeoData Consultants Ltd,VWC,False,1999,gravity,vwc,user-group,pay annually,annually,soft,good,enough,spring,groundwater,communal standpipe
1,0.0,Not Government,1399,34.698766,-2.147466,0,Lake Victoria,Mara,2,Serengeti,280,NaN,GeoData Consultants Ltd,Other,True,2010,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,rainwater harvesting,surface,communal standpipe
2,25.0,Not Government,686,37.460664,-3.821329,0,Pangani,Manyara,4,Simanjiro,250,True,GeoData Consultants Ltd,VWC,True,2009,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,dam,surface,communal standpipe multiple
3,0.0,Not Government,263,38.486161,-11.155298,0,Ruvuma / Southern Coast,Mtwara,63,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,True,1986,submersible,vwc,user-group,never pay,never pay,soft,good,dry,machine dbh,groundwater,communal standpipe multiple
4,0.0,Not Government,0,31.130847,-1.825359,0,Lake Victoria,Kagera,1,Karagwe,0,True,GeoData Consultants Ltd,NaN,True,0,gravity,other,other,never pay,never pay,soft,good,seasonal,rainwater harvesting,surface,communal standpipe

In [31]:
train["funder"][1]

'Not Government'

In [32]:
train[1:2]

,amount_tsh,funder,gps_height,longitude,latitude,num_private,basin,region,district_code,lga,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,management,management_group,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type
1,0.0,Not Government,1399,34.698766,-2.147466,0,Lake Victoria,Mara,2,Serengeti,280,NaN,GeoData Consultants Ltd,Other,True,2010,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,rainwater harvesting,surface,communal standpipe

In [33]:
train[:][1:3]

,amount_tsh,funder,gps_height,longitude,latitude,num_private,basin,region,district_code,lga,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,management,management_group,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type
1,0.0,Not Government,1399,34.698766,-2.147466,0,Lake Victoria,Mara,2,Serengeti,280,NaN,GeoData Consultants Ltd,Other,True,2010,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,rainwater harvesting,surface,communal standpipe
2,25.0,Not Government,686,37.460664,-3.821329,0,Pangani,Manyara,4,Simanjiro,250,True,GeoData Consultants Ltd,VWC,True,2009,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,dam,surface,communal standpipe multiple

In [34]:
train[1:3][1:3]

,amount_tsh,funder,gps_height,longitude,latitude,num_private,basin,region,district_code,lga,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,management,management_group,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type
2,25.0,Not Government,686,37.460664,-3.821329,0,Pangani,Manyara,4,Simanjiro,250,True,GeoData Consultants Ltd,VWC,True,2009,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,dam,surface,communal standpipe multiple

In [35]:
train["longitude"][1:10]

1    34.698766
2    37.460664
3    38.486161
4    31.130847
5    39.172796
6    33.362410
7    32.620617
8    32.711100
9    30.626991
Name: longitude, dtype: float64

In [38]:
na_value = train.apply(lambda x: sum(x.isnull()))
print(na_value[na_value>0])

public_meeting       3334
scheme_management    3877
permit               3056
dtype: int64

In [39]:
train.ix[:,train.dtypes=="object"]["permit"].value_counts()

True     38852
False    17492
Name: permit, dtype: int64

In [40]:
train.ix[:,train.dtypes=="object"]["public_meeting"].value_counts()

True     51011
False     5055
Name: public_meeting, dtype: int64

In [41]:
train.ix[:,train.dtypes=="object"]["scheme_management"].value_counts()

VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [42]:
train.shape
test.shape

(14850, 39)

In [43]:
train.shape

(59400, 27)

In [44]:
train.ix[:,train.dtypes=="object"]["funder"].value_counts()

Not Government    50316
Government         9084
Name: funder, dtype: int64

In [45]:
test = test.drop(["ward","subvillage","id","installer","wpt_name","date_recorded","region_code","quantity_group","source_type",
                  "extraction_type_group","extraction_type_class","waterpoint_type_group"],axis=1)

In [46]:
test.shape

(14850, 27)

In [47]:
na_value1 = test.apply(lambda x: sum(x.isnull()))
print(na_value1[na_value1>0])

funder               869
public_meeting       821
scheme_management    969
permit               737
dtype: int64

In [49]:
test.ix[:,test.dtypes=="object"]["funder"].value_counts()

Government Of Tanzania            2215
Danida                             793
Hesawa                             580
World Bank                         352
Kkkt                               336
Rwssp                              329
World Vision                       316
Unicef                             267
Tasaf                              259
Dhv                                236
Private Individual                 208
0                                  203
Dwsp                               201
District Council                   194
Norad                              184
Water                              156
Germany Republi                    155
Ministry Of Water                  138
Tcrs                               133
Hifab                              127
Netherlands                        122
Dwe                                121
Lga                                104
Adb                                103
Amref                              100
Rc Church                           89
Private                             85
Wateraid                            83
Fini Water                          81
Mission                             78
                                  ...
Mzee Moh                             1
Jaic                                 1
Dassip                               1
Ddp                                  1
Tcrs/village Community               1
Unicef/central                       1
Nazareti                             1
Diocese Of Geita                     1
Redeso                               1
Childreach                           1
Missio                               1
Tasmin                               1
Mhema                                1
Sharot                               1
St Savery Primary School             1
Wfp/tnt                              1
Mheza Distric Counc                  1
Mwika Lekura Water User              1
Solar Villa                          1
Tober And Friends From Austral       1
Nrwssp                               1
Tanzania Christian Service           1
Pangaboi Health Centre               1
Ripat                                1
Mjaka Mtumwa                         1
Qwiqwi                               1
Khanga                               1
Ras                                  1
Acord Ngo                            1
Scharnhorstgymnasium                 1
Name: funder, dtype: int64

In [50]:
test["funder"] = np.where(test["funder"]=="Government Of Tanzania","Government","Not Government")

In [51]:
test.ix[:,test.dtypes=="object"]["funder"].value_counts()

Not Government    12635
Government         2215
Name: funder, dtype: int64

In [53]:
train_obj = train.ix[:,train.dtypes=="object"]
train_not_obj = train.ix[:,train.dtypes!="object"]
for col in train_obj.columns:
    trans = pd.get_dummies(train_obj[col])
    train_not_obj = pd.concat([train_not_obj,trans],axis=1)

In [54]:
test_obj = test.ix[:,test.dtypes=="object"]
test_not_obj = test.ix[:,test.dtypes!="object"]
for col in test_obj.columns:
    trans = pd.get_dummies(test_obj[col])
    test_not_obj = pd.concat([test_not_obj,trans],axis=1)

In [55]:
newtrain=train_not_obj
newtest=test_not_obj

In [57]:
newtrain.shape

(59400, 270)

In [58]:
newtest.shape

(14850, 268)

In [59]:
train[1:2]

,amount_tsh,funder,gps_height,longitude,latitude,num_private,basin,region,district_code,lga,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,management,management_group,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type
1,0.0,Not Government,1399,34.698766,-2.147466,0,Lake Victoria,Mara,2,Serengeti,280,NaN,GeoData Consultants Ltd,Other,True,2010,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,rainwater harvesting,surface,communal standpipe

In [60]:
test[1:2]

,amount_tsh,funder,gps_height,longitude,latitude,num_private,basin,region,district_code,lga,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,management,management_group,payment,payment_type,water_quality,quality_group,quantity,source,source_class,waterpoint_type
1,0.0,Government,1569,36.656709,-3.309214,0,Pangani,Arusha,2,Arusha Rural,300,True,GeoData Consultants Ltd,VWC,True,2000,gravity,vwc,user-group,never pay,never pay,soft,good,insufficient,spring,groundwater,communal standpipe

In [61]:
na_value1 = test.apply(lambda x: sum(x.isnull()))
print(na_value1[na_value1>0])

public_meeting       821
scheme_management    969
permit               737
dtype: int64

In [63]:
obj_col

Index(['date_recorded', 'funder', 'installer', 'wpt_name', 'basin',
       'subvillage', 'region', 'lga', 'ward', 'public_meeting', 'recorded_by',
       'scheme_management', 'permit', 'extraction_type',
       'extraction_type_group', 'extraction_type_class', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'waterpoint_type_group'],
      dtype='object')

In [64]:
obj_col = train.ix[:,train.dtypes=="object"].columns
obj_col

Index(['funder', 'basin', 'region', 'lga', 'public_meeting', 'recorded_by',
       'scheme_management', 'permit', 'extraction_type', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'source', 'source_class',
       'waterpoint_type'],
      dtype='object')

In [65]:
obj_col1 = test.ix[:,test.dtypes=="object"].columns
obj_col1

Index(['funder', 'basin', 'region', 'lga', 'public_meeting', 'recorded_by',
       'scheme_management', 'permit', 'extraction_type', 'management',
       'management_group', 'payment', 'payment_type', 'water_quality',
       'quality_group', 'quantity', 'source', 'source_class',
       'waterpoint_type'],
      dtype='object')

In [66]:
for col in obj_col:
    print(train.ix[:,train.dtypes=="object"][col].value_counts().shape)

(2,)
(9,)
(21,)
(125,)
(2,)
(1,)
(12,)
(2,)
(18,)
(12,)
(5,)
(7,)
(7,)
(8,)
(6,)
(5,)
(10,)
(3,)
(7,)

In [67]:
for col in obj_col1:
    print(test.ix[:,test.dtypes=="object"][col].value_counts().shape)

(2,)
(9,)
(21,)
(125,)
(2,)
(1,)
(11,)
(2,)
(17,)
(12,)
(5,)
(7,)
(7,)
(8,)
(6,)
(5,)
(10,)
(3,)
(7,)

In [68]:
train.ix[:,train.dtypes=="object"]["extraction_type"].value_counts()
test.ix[:,test.dtypes=="object"]["extraction_type"].value_counts()

gravity              6483
nira/tanira          2051
other                1672
submersible          1218
swn 80                918
mono                  763
india mark ii         629
afridev               438
ksb                   375
other - rope pump     121
other - swn 81         55
india mark iii         37
windmill               35
cemo                   18
other - play pump      16
walimi                 12
climax                  9
Name: extraction_type, dtype: int64

In [69]:
train.ix[:,train.dtypes=="object"]["extraction_type"].value_counts()

gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64

In [73]:
label[1:2]

     id status_group
1  8776   functional

In [74]:
train=train[train["extraction_type"]!="other - mkulima/shinyanga"]

In [75]:
train_obj = train.ix[:,train.dtypes=="object"]
train_not_obj = train.ix[:,train.dtypes!="object"]
for col in train_obj.columns:
    trans = pd.get_dummies(train_obj[col])
    train_not_obj = pd.concat([train_not_obj,trans],axis=1)

In [76]:
train_not_obj.shape

(59398, 269)

In [77]:
test_obj = test.ix[:,test.dtypes=="object"]
test_not_obj = test.ix[:,test.dtypes!="object"]
for col in test_obj.columns:
    trans = pd.get_dummies(test_obj[col])
    test_not_obj = pd.concat([test_not_obj,trans],axis=1)

In [79]:
test_not_obj.shape

(14850, 268)

In [81]:
train.ix[:,train.dtypes=="object"]["scheme_management"].value_counts()

VWC                 36791
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64

In [82]:
test.ix[:,test.dtypes=="object"]["scheme_management"].value_counts()

VWC                 9124
WUG                 1290
Water authority      822
Water Board          714
WUA                  668
Parastatal           444
Company              280
Private operator     263
Other                230
SWC                   26
Trust                 20
Name: scheme_management, dtype: int64

In [83]:
train=train[train["extraction_type"]!="None"]

In [87]:
newtrain=train_not_obj
newtest=test_not_obj

In [91]:
train=train[train["scheme_management"]!="None"]

In [92]:
train.shape

(59397, 27)

In [93]:
train_obj = train.ix[:,train.dtypes=="object"]
train_not_obj = train.ix[:,train.dtypes!="object"]
for col in train_obj.columns:
    trans = pd.get_dummies(train_obj[col])
    train_not_obj = pd.concat([train_not_obj,trans],axis=1)

In [94]:
test_obj = test.ix[:,test.dtypes=="object"]
test_not_obj = test.ix[:,test.dtypes!="object"]
for col in test_obj.columns:
    trans = pd.get_dummies(test_obj[col])
    test_not_obj = pd.concat([test_not_obj,trans],axis=1)

In [95]:
newtrain=train_not_obj
newtest=test_not_obj

In [96]:
newtrain.shape

(59397, 268)

In [97]:
newtest.shape

(14850, 268)

In [98]:
from sklearn import preprocessing
from sklearn.utils import resample
from sklearn.tree import DecisionTreeClassifier

In [99]:
from sklearn import tree
from sklearn.utils import resample
import math

In [100]:
from sklearn.ensemble import RandomForestClassifier

In [108]:
label=label[label["id"]!=23849]

In [109]:
label=label[label["id"]!=58055]

In [110]:
label=label[label["id"]!=12690]

In [111]:
label.shape

(59397, 2)

In [112]:
X = newtrain
Y = label["status_group"]
clt = RandomForestClassifier(n_estimators = 1000,max_features = 'auto',criterion = 'entropy')
clt.fit(X, Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [114]:
out=clt.predict(newtest)

In [119]:
result=pd.read_csv('E:\Drivendata\SubmissionFormat.csv')

In [120]:
result["status_group"]=out

In [121]:
result[1:10]

      id    status_group
1  51630      functional
2  17168      functional
3  45559  non functional
4  49871      functional
5  52449      functional
6  24806      functional
7  28965  non functional
8  36301  non functional
9  54122      functional

In [123]:
result["status_group"].value_counts()

functional                 8623
non functional             5475
functional needs repair     752
Name: status_group, dtype: int64

In [124]:
result.to_csv("E:\Drivendata\myoutput.csv",index = False)